<!DOCTYPE html>
<html module="personal/collect">
<head>
	<meta charset="UTF-8">
	<title>华谊 - 学习平台</title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
  <link rel="stylesheet" type="text/css" href="../../css/personal.css">
</head>
<body>
<div class="main">
  <div class="header">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="/index.html">
                <img src="../../images/logo.png">
                <h3>学习平台</h3>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class=""><a href="../index.html">首页</a></li>
              <li><a href="../course/index.html">课程中心</a></li>
              <li><a href="javascript:void(0)" id="to_bbs">学习社区</a></li>
              <li class="active"><a href="../personal/index.html">个人中心</a></li>
              <li><a href="../report/index.html">报表中心</a></li>
              <li class="visible-xs"><a href="javascript:void(0);" class="system_login">系统管理</a></li>
              <li class="visible-xs"><a href="../personalremind.html">我的提醒</a></li>
              <li class="visible-xs"><a href="javascript:void(0);">退出登录</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="hidden-xs hidden-xs-login"></li>
             <li  class="no_login login-btn"><a href="javascript:void(0)">登录</a></li>
              <!-- <li  class="no_login register-btn"><a href="javascript:void(0)">注册</a></li> -->
              <li class="dropdown hidden-xs logined">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="txBox"><img src="../../images/swiper01.jpg"></div>
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../personal/index.html">个人中心</a></li>
                  <li><a href="javascript:void(0);" class="system_login">系统管理</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="login_out"><a href="javascript:void(0);">退出登录</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </div>
  <div class="containers">
      <div class="page_content">
          <div class="personal_top">
              <h3>个人信息</h3>
              <div class="user_infoBox">
                  <div class="user_portrait">
                      <img src="../../images/swiper01.jpg">
                  </div>
                  <div class="user_info">
										<script type="text/html" id="person-info">
												<div class="row">
														<div class="col-xs-4"><span>姓名：</span>{{employee_name}}</div>
														<div class="col-xs-5"><span>所属公司：</span>{{location_name}}</div>
														<div class="col-xs-3 text-right">
															<!-- <a href="javascript:void(0);" class="more">查看更多资料</a> -->
														</div>
														<div class="col-xs-4"><span>职位：</span>{{job_name}}</div>
														<div class="col-xs-5"><span>个人宣言:</span>喝水不忘挖井人，幸福不忘共产党。</div>
												</div>
										</script>
                  </div>
              </div>
          </div>
          <div class="personal_content">
              <div class="personal_menu">
                  <ul>
                      <li><a href="index.html"><i class="iconfont icon-shijian"></i>学习动态</a></li>
                      <li><a href="course.html"><i class="iconfont icon-kecheng"></i>我的课程</a></li>
                      <li><a href="certificated.html"><i class="iconfont icon-zhengshu"></i>我的证书</a></li>
                      <li><a href="remind.html"><i class="iconfont icon-tixing"></i>我的提醒</a></li>
                      <li class="active"><a href="collect.html"><i class="iconfont icon-shoucang"></i>我的收藏</a></li>
                  </ul>
              </div>
              <div class="substance">
                  <div class="substance-cont">
                      <div class="substance-title">
                            <div class="right-search">
                                <input type="text" class="searchInput" placeholder="请输入关键信息">
                                <a href="javascript:void(0);" class="searchBtn">搜索</a>
                            </div>
                      </div>
                      <div class="substance-list">
                          <ul id="collect_list_warp">

                          </ul>
													<script id="collect_list" type="text/html">
														{{if list.length > 0}}
															{{each list as item}}
															<li>
                                  <div class="course-img">
                                      <img src="data:image/jpg;base64,{{item.image}}">
                                  </div>
                                  <div class="course-info">
                                      <h3>{{item.name}}</h3>
                                      <ul class="state">
                                          <li><img src="../../images/timeIcon.png">{{item.active_time}}</li>
                                          <li><img src="../../images/arrange_icon.png">{{item.duration}}小时/周</li>
                                          <li><img src="../../images/icon01.png">21333人</li>
                                          <li><img src="../../images/kcIcon.png">即将开课</li>
                                      </ul>
                                      <p class="prompt-text"></p>
                                      <div class="btnBox">
                                          <a class="see_detaills" id="{{item.id}}">查看详情</a>
																					{{if item.study_status == !null}}
                                          <a class="open_location_url studyBtn pull-right" id="{{item.id}}" >开始学习</a>
																					{{else}}
																					<a class="see_detaills studyBtn pull-right" id="{{item.id}}" >去报名</a>
																					{{/if}}
                                      </div>
                                  </div>
                              </li>
															{{/each}}
															{{else}}
															<li style="text-align:center;background:#fff;width:100%;padding:150px 0px;">没有数据</li>
														{{/if}}
													</script>
													<div id="collect_list_number" style="text-align: center;"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer">
      <div class="footer_cont">
           <p>Copyright 2013-2016 上海华谊(集团)公司</p>
      </div>
  </div>
</div>
<script data-main="../../js/app.js" src="../../js/lib/require.js"></script>
</body>
</html>
